In [3]:
import pandas as pd

In [1]:
BANK_KEYWORDS = [
    "JPMORGAN",
    "BANK OF AMERICA",
    "GOLDMAN SACHS",
    "MORGAN STANLEY",
    "CITIGROUP",
    "WELLS FARGO"
]

In [2]:
def is_bank(entity_name):
    name = str(entity_name).upper()
    return any(bank in name for bank in BANK_KEYWORDS)

In [5]:
FINAL_LINE_ITEMS = pd.read_csv(
    "../data/processed/selected_line_items.csv"
)['0'].tolist()

In [6]:
chunks = pd.read_csv(
    "../data/raw/companyfacts.csv",
    chunksize=500_000
)

In [11]:
output_path = "../data/processed/financial_facts_clean.csv"
first_write = True

for i,chunk in enumerate(chunks):
    chunk = chunk.drop(columns=["Unnamed: 0"], errors="ignore")
    mask = (chunk["form"] == "10-K") & (chunk["companyFact"].isin(FINAL_LINE_ITEMS)) & (chunk["entityName"].apply(is_bank))
    filtered = chunk.loc[mask]
    if not filtered.empty:
        filtered.to_csv(output_path,
                        mode='w' if first_write else 'a',
                       header=first_write,
                       index = False)
        first_write = False
    if i % 10 == 0:
        print(f"Processed chunk {i}")

Processed chunk 0
Processed chunk 10
Processed chunk 20
Processed chunk 30
Processed chunk 40
Processed chunk 50
Processed chunk 60
Processed chunk 70
Processed chunk 80
Processed chunk 90
Processed chunk 100
Processed chunk 110
Processed chunk 120
Processed chunk 130

In [13]:
financial_facts = pd.read_csv("../data/processed/financial_facts_clean.csv")
financial_facts.head()

,cik,entityName,companyFact,end,val,accn,fy,fp,form,filed,units
0,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2010-12-31,421279811,0001193125-12-137675,2011.0,FY,10-K,2012-03-28,USD
1,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2011-12-31,294516833,0001193125-12-137675,2011.0,FY,10-K,2012-03-28,USD
2,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2011-12-31,294516833,0000873799-13-000002,2012.0,FY,10-K,2013-03-26,USD
3,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2012-12-31,200913989,0000873799-14-000002,2013.0,FY,10-K,2014-03-28,USD
4,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2012-12-31,200913989,0000873799-13-000002,2012.0,FY,10-K,2013-03-26,USD

In [19]:
financial_facts.shape

(1917, 11)

In [15]:
financial_facts["fy"] = financial_facts["fy"].astype(int)
financial_facts["val"] = pd.to_numeric(financial_facts["val"], errors="coerce")
financial_facts["units"] = financial_facts["units"].fillna("UNKNOWN")

In [16]:
financial_facts = financial_facts.dropna(subset=["val"])

In [18]:
financial_facts.to_csv("../data/processed/financial_facts_clean.csv", index=False)