In [1]:
import pandas as pd

financial_facts = pd.read_csv(
    "../data/processed/financial_facts_clean.csv"
)

In [2]:
financial_facts.shape
financial_facts.head()

,cik,entityName,companyFact,end,val,accn,fy,fp,form,filed,units
0,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2010-12-31,421279811,0001193125-12-137675,2011,FY,10-K,2012-03-28,USD
1,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2011-12-31,294516833,0001193125-12-137675,2011,FY,10-K,2012-03-28,USD
2,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2011-12-31,294516833,0000873799-13-000002,2012,FY,10-K,2013-03-26,USD
3,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2012-12-31,200913989,0000873799-14-000002,2013,FY,10-K,2014-03-28,USD
4,873799,MORGAN STANLEY SMITH BARNEY SPECTRUM SELECT LP,Assets,2012-12-31,200913989,0000873799-13-000002,2012,FY,10-K,2013-03-26,USD

In [3]:
def financial_row_to_chunk(row):
    value = float(row["val"])
    value_m = round(value / 1_000_000, 2)

    text = (
        f"In fiscal year {int(row['fy'])}, {row['entityName'].title()} reported "
        f"{row['companyFact'].replace('Assets', 'total assets')} of approximately "
        f"{value_m} million USD, as disclosed in its Form {row['form']} filing "
        f"with the U.S. SEC."
    )

    metadata = {
        "cik": int(row["cik"]),
        "company": row["entityName"].title(),
        "line_item": row["companyFact"],
        "value": value,
        "value_millions": value_m,
        "unit": row["units"],
        "fiscal_year": int(row["fy"]),
        "fiscal_period": row["fp"],
        "form": row["form"],
        "filing_date": row["filed"],
        "source": "SEC"
    }

    return {"text": text, "metadata": metadata}

In [4]:
sample_row = financial_facts.iloc[0]
chunk = financial_row_to_chunk(sample_row)

print(chunk["text"])
print(chunk["metadata"])

In fiscal year 2011, Morgan Stanley Smith Barney Spectrum Select Lp reported total assets of approximately 421.28 million USD, as disclosed in its Form 10-K filing with the U.S. SEC.
{'cik': 873799, 'company': 'Morgan Stanley Smith Barney Spectrum Select Lp', 'line_item': 'Assets', 'value': 421279811.0, 'value_millions': 421.28, 'unit': 'USD', 'fiscal_year': 2011, 'fiscal_period': 'FY', 'form': '10-K', 'filing_date': '2012-03-28', 'source': 'SEC'}