In [9]:
import pandas as pd

In [7]:
companyfacts_cols = pd.read_csv(
    "../data/raw/companyfacts.csv",
    nrows=0
)

companyfacts_cols.columns

Index(['Unnamed: 0', 'cik', 'entityName', 'companyFact', 'end', 'val', 'accn',
       'fy', 'fp', 'form', 'filed', 'units'],
      dtype='object')

In [10]:
sample_companyfacts = pd.read_csv(
    "../data/raw/companyfacts.csv",
    nrows=1000
)

sample_companyfacts.head()

,Unnamed: 0,cik,entityName,companyFact,end,val,accn,fy,fp,form,filed,units
0,0,1750,AAR CORP,AccountsPayableCurrent,2010-05-31,114906000,0001104659-10-049632,2011,Q1,10-Q,2010-09-23,USD
1,1,1750,AAR CORP,AccountsPayableCurrent,2010-05-31,114906000,0001104659-10-063683,2011,Q2,10-Q,2010-12-21,USD
2,2,1750,AAR CORP,AccountsPayableCurrent,2010-05-31,114906000,0001104659-11-015691,2011,Q3,10-Q,2011-03-22,USD
3,3,1750,AAR CORP,AccountsPayableCurrent,2010-05-31,114906000,0001047469-11-006302,2011,FY,10-K,2011-07-13,USD
4,4,1750,AAR CORP,AccountsPayableCurrent,2010-08-31,130112000,0001104659-10-049632,2011,Q1,10-Q,2010-09-23,USD

In [12]:
lineitems_cols = pd.read_csv(
    "../data/raw/line_item_counts.csv",
    nrows=0
)

lineitems_cols.columns

Index(['Unnamed: 0', 'line_item', 'count', 'description'], dtype='object')

In [17]:
line_items = pd.read_csv("../data/raw/line_item_counts.csv")
line_items.head()

,Unnamed: 0,line_item,count,description
0,0,AccountsPayableCurrent,9403.0,Carrying value as of the balance sheet date of...
1,1,AccountsReceivableNetCurrent,8211.0,"Amount, after allowance for credit loss, of ri..."
2,2,AccruedLiabilitiesCurrent,7549.0,Carrying value as of the balance sheet date of...
3,3,AccruedLiabilitiesCurrentAndNoncurrent,1307.0,Carrying value as of the balance sheet date of...
4,4,AccumulatedDepreciationDepletionAndAmortizatio...,9889.0,"Amount of accumulated depreciation, depletion ..."

In [18]:
line_items.shape

(10819, 4)

In [24]:
top_items = line_items.sort_values("count",ascending=False).head(30)
top_items[['line_item','count']]

                                             line_item    count
16                                              Assets  14640.0
241                   LiabilitiesAndStockholdersEquity  14574.0
272                                      NetIncomeLoss  14320.0
270         NetCashProvidedByUsedInOperatingActivities  14306.0
266         NetCashProvidedByUsedInFinancingActivities  14232.0
404                                 StockholdersEquity  13907.0
26               CashAndCashEquivalentsAtCarryingValue  13749.0
379                 RetainedEarningsAccumulatedDeficit  13465.0
268         NetCashProvidedByUsedInInvestingActivities  13433.0
445                                        Liabilities  12834.0
38                                    CommonStockValue  12490.0
37                             CommonStockSharesIssued  12382.0
36                         CommonStockSharesAuthorized  12321.0
17                                       AssetsCurrent  12089.0
242                                 LiabilitiesCurrent  12064.0
35                 CommonStockParOrStatedValuePerShare  12043.0
581                                OperatingIncomeLoss  11993.0
697                       CommonStockSharesOutstanding  11957.0
27        CashAndCashEquivalentsPeriodIncreaseDecrease  11624.0
178                            IncomeTaxExpenseBenefit  11582.0
361                       PropertyPlantAndEquipmentNet  11292.0
427      WeightedAverageNumberOfSharesOutstandingBasic  11032.0
123                              EarningsPerShareBasic  10574.0
392                             ShareBasedCompensation  10506.0
211                                    InterestExpense  10474.0
426    WeightedAverageNumberOfDilutedSharesOutstanding  10227.0
90                 DeferredTaxAssetsValuationAllowance   9987.0
339                     PreferredStockSharesAuthorized   9949.0
4    AccumulatedDepreciationDepletionAndAmortizatio...   9889.0
125                            EarningsPerShareDiluted   9836.0

In [25]:
KEYWORDS = [
    'Income',
    'Revenue',
    'Asset',
    'Liability',
    'Equity',
    'Cash',
    'Earning',
    'Expense',
    'Profit'
]

def is_relevant(item):
    return any(k.lower() in item.lower() for k in KEYWORDS)

relevant_items = top_items[top_items['line_item'].apply(is_relevant)]
relevant_items[['line_item', 'count']]

                                        line_item    count
16                                         Assets  14640.0
241              LiabilitiesAndStockholdersEquity  14574.0
272                                 NetIncomeLoss  14320.0
270    NetCashProvidedByUsedInOperatingActivities  14306.0
266    NetCashProvidedByUsedInFinancingActivities  14232.0
404                            StockholdersEquity  13907.0
26          CashAndCashEquivalentsAtCarryingValue  13749.0
379            RetainedEarningsAccumulatedDeficit  13465.0
268    NetCashProvidedByUsedInInvestingActivities  13433.0
17                                  AssetsCurrent  12089.0
581                           OperatingIncomeLoss  11993.0
27   CashAndCashEquivalentsPeriodIncreaseDecrease  11624.0
178                       IncomeTaxExpenseBenefit  11582.0
123                         EarningsPerShareBasic  10574.0
211                               InterestExpense  10474.0
90            DeferredTaxAssetsValuationAllowance   9987.0
125                       EarningsPerShareDiluted   9836.0

In [26]:
selected_line_items = relevant_items['line_item'].tolist()
pd.Series(selected_line_items).to_csv("../data/processed/selected_line_items.csv",index=False)